<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebanma.cloud.order.dao.PaymentInfoMapper">
  <resultMap id="BaseResultMap" type="com.ebanma.cloud.order.model.PaymentInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="alipay_trade_no" jdbcType="VARCHAR" property="alipayTradeNo" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="payment_type" jdbcType="VARCHAR" property="paymentType" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
  </resultMap>
</mapper>